/*
	Auhor: Ravindu Ubeysinghe
	Student ID: 4956567
	File Description: Contains all the styling for the system
*/

body {
	background-color:#FFFACD;
}

#menu_item{
	display:inline;
}

#footer_item{
	display:inline;
}